@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@font-face {
  font-family: 'Avenir Light';
  src: url("../fonts/avenir-light.woff"); }
@font-face {
  font-family: 'Avenir Black';
  src: url("../fonts/avenir-black.woff"); }
body.disabled {
  overflow: hidden; }

.page-wrap {
  background-color: white;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 2; }
  .page-wrap.disabled {
    left: calc(100% - 80px); }

header {
  height: 80px;
  position: relative;
  background-color: #5b7fe8; }

.hamburger-menu {
  display: inline-block;
  height: 100px;
  padding: 25px 25px;
  transition: all 0.3s ease-in-out; }
  .hamburger-menu:hover {
    cursor: pointer; }
  .hamburger-menu .menu-item {
    background: #fff;
    display: block;
    height: 3px;
    margin: 0 0 10px;
    transition: all 0.3s ease-in-out;
    width: 40px; }
  .hamburger-menu.open .menu-item {
    margin: 0 0 5px; }
    .hamburger-menu.open .menu-item:first-child {
      transform: rotate(45deg);
      transform-origin: 10px; }
    .hamburger-menu.open .menu-item:nth-child(2) {
      opacity: 0; }
    .hamburger-menu.open .menu-item:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: 8px; }

@media (min-width: 769px) {
  .mobile-nav-wrap {
    /* display: none; */ } }

.mobile-nav-wrap {
  background-color: #5b7fe8;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .mobile-nav-wrap .language-mobile-menu {
    margin: 20px auto;
    width: 290px; }
    .mobile-nav-wrap .language-mobile-menu li {
      display: inline-flex;
      margin: 0 10px; }
      .mobile-nav-wrap .language-mobile-menu li a {
        color: white;
        display: block;
        font-size: 20px;
        padding: 15px 0;
        text-decoration: none;
        font-family: "Avenir Light"; }
        .mobile-nav-wrap .language-mobile-menu li a.active {
          text-decoration: underline;
          font-family: "Avenir Black"; }
  .mobile-nav-wrap .fixed-mobile-nav {
    list-style: none;
    margin: 50px 0 0;
    padding: 0; }
    .mobile-nav-wrap .fixed-mobile-nav li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin-left: 50px;
      width: 50%; }
      .mobile-nav-wrap .fixed-mobile-nav li a {
        color: white;
        display: block;
        font-size: 20px;
        padding: 15px 0;
        text-decoration: none;
        font-family: "Avenir Light"; }
        .mobile-nav-wrap .fixed-mobile-nav li a.active {
          text-decoration: underline;
          font-family: "Avenir Black"; }
      .mobile-nav-wrap .fixed-mobile-nav li.no-border {
        border-bottom: none; }
      .mobile-nav-wrap .fixed-mobile-nav li.sub-item a {
        font-size: 18px;
        margin-left: 20px; }
        .mobile-nav-wrap .fixed-mobile-nav li.sub-item a .bullet {
          font-size: 12px;
          padding-right: 5px; }
        .mobile-nav-wrap .fixed-mobile-nav li.sub-item a.active {
          text-decoration: none; }
          .mobile-nav-wrap .fixed-mobile-nav li.sub-item a.active .bullet {
            text-decoration: none; }
          .mobile-nav-wrap .fixed-mobile-nav li.sub-item a.active .text {
            text-decoration: underline; }

.top-bar {
  background-color: #5b7fe8;
  width: 100%;
  height: 60px; }
  .top-bar ul {
    line-height: 60px;
    list-style-type: none; }
    .top-bar ul li {
      margin: 0 15px;
      display: inline-flex; }
      .top-bar ul li a {
        color: #fff;
        transition: 0.2s; }
        .top-bar ul li a.active {
          font-family: "Avenir Black";
          text-decoration: underline; }
        .top-bar ul li a:hover {
          text-decoration: underline;
          transition: 0.2s; }
  .top-bar .left ul {
    margin-left: 25px; }
  .top-bar .right ul {
    margin-right: 25px; }

.main-nav {
  height: 120px;
  line-height: 120px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #262626; }
  .main-nav img {
    width: 120px;
    margin-left: 25px; }
  .main-nav ul {
    margin-right: 25px;
    list-style-type: none; }
    .main-nav ul li {
      margin: 0 15px;
      display: inline-flex; }
      .main-nav ul li a {
        color: #262626;
        transition: 0.2s; }
        .main-nav ul li a.active {
          font-family: "Avenir Black";
          color: #5b7fe8;
          text-decoration: underline; }
        .main-nav ul li a:hover {
          color: #5b7fe8;
          text-decoration: underline;
          transition: 0.2s; }
  .main-nav .dropdown-menu {
    margin-top: 20px;
    background-color: #5b7fe8;
    position: absolute;
    right: 400px;
    top: 120px;
    width: 120px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    opacity: 0; }
    .main-nav .dropdown-menu li a {
      font-family: "Avenir Black";
      color: #fff; }
      .main-nav .dropdown-menu li a:hover {
        color: #fff; }
      .main-nav .dropdown-menu li a.active {
        color: #fff; }

@media (max-width: 850px) {
  .main-nav ul li {
    margin: 0 10px; }
  .main-nav .dropdown-menu {
    right: 355px; } }
@media (min-width: 768px) {
  header, .mobile-nav-wrap {
    display: none; } }
@media (max-width: 767px) {
  .top-bar, .main-nav {
    display: none; } }
@media (min-width: 1800px) {
  .top-bar ul li, .main-nav ul li {
    margin: 0 25px; }
    .top-bar ul li a, .main-nav ul li a {
      font-size: 22px; }
  .top-bar .dropdown-menu, .main-nav .dropdown-menu {
    width: 200px;
    right: 570px; } }
@media (min-width: 2300px) {
  .top-bar ul li, .main-nav ul li {
    margin: 0 35px; }
    .top-bar ul li a, .main-nav ul li a {
      font-size: 25px; }
  .top-bar .dropdown-menu, .main-nav .dropdown-menu {
    width: 250px;
    right: 690px; } }
.hero {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/hero-bg.jpeg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/hero-bg.jpeg");
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/hero-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75vh;
  min-height: 500px; }
  .hero h1 {
    font-size: 80px;
    margin-top: 80px; }
  .hero p {
    font-size: 25px;
    margin-top: -40px; }
  .hero a {
    color: #fff;
    font-family: "Avenir Black";
    text-transform: uppercase;
    display: block;
    width: 290px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    background-color: #5b7fe8;
    text-align: center;
    font-size: 18px; }

@media (max-width: 767px) {
  .hero {
    text-align: center; }
    .hero a {
      margin: 20px auto; } }
@media (min-width: 1800px) {
  .hero h1 {
    font-size: 100px; }
  .hero p {
    font-size: 30px; }
  .hero a {
    font-size: 22px;
    width: 350px; } }
@media (min-width: 2300px) {
  .hero h1 {
    font-size: 120px; }
  .hero p {
    font-size: 32px;
    margin-top: -80px; }
  .hero a {
    font-size: 25px;
    width: 420px;
    height: 80px;
    line-height: 85px; } }
@media (min-height: 1000px) {
  .hero h1 {
    margin-top: 150px; } }
@media (min-height: 1200px) {
  .hero h1 {
    margin-top: 220px; } }
.home-content {
  height: auto;
  min-height: 420px; }
  .home-content .col-sm-6 {
    min-height: 420px; }
  .home-content .text-container {
    width: 80%;
    min-width: 290px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%); }
  .home-content p {
    font-size: 20px; }
  .home-content ul {
    margin-left: 25px; }
    .home-content ul li {
      line-height: 1.5;
      font-size: 18px; }

@media (min-width: 1800px) {
  .home-content {
    min-height: 600px; }
    .home-content .col-sm-6 {
      min-height: 600px; }
    .home-content p {
      font-size: 25px; }
    .home-content ul li {
      font-size: 25px; } }
@media (min-width: 2300px) {
  .home-content {
    min-height: 700px; }
    .home-content .col-sm-6 {
      min-height: 700px; }
    .home-content p {
      font-size: 28px; }
    .home-content ul li {
      font-size: 28px; } }
footer {
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #5b7fe8;
  margin-top: -15px; }
  footer p {
    color: #fff;
    margin-right: 25px; }

.reception-content {
  height: auto;
  min-height: 550px; }
  .reception-content .col-sm-6 {
    min-height: 550px; }
  .reception-content p {
    width: 80%;
    min-width: 290px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    font-size: 18px; }
    .reception-content p a {
      font-family: "Avenir Black";
      color: #5b7fe8;
      text-decoration: underline; }
  .reception-content .building-background {
    background-image: url("../img/building.jpeg");
    background-size: cover;
    background-repeat: no-repeat; }

@media (max-width: 767px) {
  .reception-content p {
    padding: 60px 0; } }
@media (min-height: 800px) {
  .reception-content {
    min-height: 80vh; }
    .reception-content .col-sm-6 {
      min-height: 80vh; }
    .reception-content p {
      font-size: 20px; } }
@media (min-width: 1800px) {
  .reception-content p {
    font-size: 20px; } }
@media (min-width: 2300px) {
  .reception-content p {
    font-size: 25px; } }
.price-list-content {
  height: 70vh;
  min-height: 500px; }
  .price-list-content .col-xs-12 {
    min-height: 500px; }
  .price-list-content p {
    width: 80%;
    min-width: 290px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    font-size: 20px; }

@media (min-height: 1000px) {
  .price-list-content {
    height: 75vh; }
    .price-list-content .col-xs-12 {
      height: 75vh; } }
@media (min-height: 1200px) {
  .price-list-content {
    height: 80vh; }
    .price-list-content .col-xs-12 {
      height: 80vh; } }
@media (min-width: 1800px) {
  .price-list-content p {
    font-size: 25px; } }
@media (min-width: 2300px) {
  .price-list-content p {
    font-size: 30px; } }
.about-content {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto; }
  .about-content .col-xs-12, .about-content .col-sm-6 {
    padding: 0;
    margin: 0; }
  .about-content .image-box {
    min-height: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .about-content .image-box-1 {
    background-image: url("../img/doctor-2.jpg"); }
  .about-content .image-box-2 {
    background-image: url("../img/doctor-3.jpg"); }
  .about-content .image-box-3 {
    background-image: url("../img/doctor-1.jpg"); }
  .about-content .image-box-4 {
    background-image: url("../img/woman-1.jpg"); }
  .about-content p {
    width: 80%;
    min-width: 290px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; }

@media (min-width: 768px) {
  .about-content .mobile-col {
    display: none; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .about-content p {
    font-size: 16px; } }
@media (max-width: 767px) {
  .about-content .desktop-col {
    display: none; }
  .about-content .image-box {
    min-height: 400px; }
  .about-content p {
    padding: 80px 0 100px 0; } }
@media (min-width: 1800px) {
  .about-content p {
    font-size: 20px; } }
@media (min-width: 2300px) {
  .about-content {
    max-width: 1600px; }
    .about-content p {
      font-size: 25px; } }
.instruments-content img {
  width: 60%;
  display: block;
  margin: 40px auto;
  max-width: 500px;
  min-width: 290px; }
.instruments-content p {
  width: 60%;
  min-width: 290px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px; }

@media (min-width: 768px) {
  .instruments-content .mobile-col {
    display: none; } }
@media (max-width: 767px) {
  .instruments-content .desktop-col {
    display: none; }
  .instruments-content p {
    margin-top: -40px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 18px; } }
.modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none; }
  .modal-container .modal {
    height: auto;
    min-height: 300px;
    width: 60%;
    min-width: 280px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .modal-container .modal .close-button {
      float: right;
      margin-right: 20px;
      margin-top: 5px;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      color: #262626;
      font-size: 28px; }
    .modal-container .modal p {
      width: 80%;
      margin: 0 auto;
      min-width: 250px;
      padding-top: 15px; }
    .modal-container .modal .bold {
      padding-top: 80px; }

#shell {
  border: 2px solid #262626;
  background-color: #fff;
  height: auto;
  min-height: 440px !important;
  border-radius: 2px;
  font-family: 'Avenir Light', sans-serif;
  width: 80%;
  min-width: 250px;
  max-width: 800px;
  margin: 40px auto 130px auto;
  padding: 20px;
  position: relative; }

#staff_id, #unit_id, #month, select {
  padding: 5px 35px 5px 10px;
  font-size: 16px;
  border: 2px solid #262626;
  height: 50px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  background: url(https://i.ibb.co/VYZ27nX/carets.png) 96%/9% no-repeat #fff;
  font-family: 'Avenir', sans-serif; }

input {
  font-size: 16px;
  border: 2px solid #262626;
  height: 40px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 194px;
  font-family: 'Avenir', sans-serif; }

.caledit table {
  margin: 40px auto; }

.caledit thead th, .caledit tfoot th {
  color: #fff;
  background-color: #5b7fe8;
  border-spacing: 0 !important;
  border: 8px solid #5b7fe8;
  font-family: 'Avenir', sans-serif;
  font-weight: 700; }

#shell .change {
  border-collapse: unset;
  border-spacing: 25px;
  background-color: #fff;
  float: left; }

#shell .calendar .change {
  border-spacing: 0 !important;
  display: block;
  margin: 0 auto;
  float: right;
  margin-bottom: -50px; }

#shell .calendar .change thead th,
#shell .calendar .change tfoot th {
  color: #fff;
  background-color: #5b7fe8;
  border-spacing: 0 !important;
  border: 15px solid #5b7fe8;
  font-family: 'Avenir', sans-serif;
  font-weight: 700; }

#shell .calendar .change tbody td {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff; }

#choice {
  background-color: #fff;
  border: none; }

.prompt {
  vertical-align: middle;
  display: table-cell;
  font-style: italic;
  color: #262626;
  font-family: 'Avenir', sans-serif;
  float: right;
  padding-top: 80px;
  padding-bottom: 40px; }

.editing {
  border: none;
  float: none; }

button[name="Q"] {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #5b7fe8;
  border: 1px solid #5b7fe8;
  border-radius: 5px;
  font-size: 16px;
  height: 45px;
  width: 120px; }

button[name="Q"] a {
  color: #fff; }

.toolt {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  padding: 5px;
  font-family: 'Avenir';
  display: none;
  font-size: 0.8em; }

.toolt .sdat {
  font-weight: 700;
  text-align: center;
  color: #5b7fe8; }

@media (max-width: 940px) {
  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th {
    border: 10px solid #5b7fe8; }

  #shell .calendar .change tbody td {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff; } }
@media (max-width: 850px) {
  .prompt, #shell .change {
    float: none; }

  .prompt {
    padding-top: 40px;
    padding-bottom: 0; }

  button[name="Q"] {
    left: 30px; }

  #shell .calendar .change {
    float: none;
    width: 568px;
    margin: 0 auto; }

  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th {
    border: 25px solid #5b7fe8; }

  #shell .calendar .change tbody td {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff; } }
@media (max-width: 700px) {
  #shell .calendar .change {
    width: 415px; }

  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th {
    border: 15px solid #5b7fe8; }

  #shell .calendar .change tbody td {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff; } }
@media (max-width: 530px) {
  #shell .calendar .change {
    width: 334px; }

  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th {
    border: 10px solid #5b7fe8; }

  #shell .calendar .change tbody td {
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff; } }
@media (max-width: 414px) {
  #shell .calendar .change {
    width: 254px; }

  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th {
    border: 5px solid #5b7fe8; }

  #shell .calendar .change tbody td {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff; }

  .prompt {
    padding-top: 20px; } }
@media (max-width: 400px) {
  #shell {
    padding: 10px; }

  #staff_id, #unit_id, #month {
    width: 180px !important; }

  #shell .change {
    border-spacing: 10px !important; } }
@media (max-width: 382px) {
  #shell {
    padding: 8px; }

  #staff_id, #unit_id, #month {
    width: 160px !important; }

  input {
    width: 160px; }

  select {
    width: 166px; } }
body {
  font-family: "Avenir Light";
  padding: 0;
  margin: 0;
  color: #262626; }

h1 {
  font-family: "Avenir Black"; }

.page-container {
  width: 100vw;
  overflow: hidden; }

.bold {
  font-family: "Avenir Black"; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=app.css.map */
