.about-content {
  width: 100%;
  max-width: 1000px;
  margin: 80px auto;
  .col-xs-12, .col-sm-6 {
    padding: 0;
    margin: 0;
  }
  .image-box {
    min-height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
  }
  .image-box-1 {
    background-image: url('../img/elle.jpg');
  }
  .image-box-2 {
    background-image: url('../img/mikk.jpg');
  }
  .image-box-3 {
    background-image: url('../img/aliis.jpg');
  }
  .image-box-4 {
    background-image: url('../img/annika.jpg');
  }
  p {
    width: 80%;
    min-width: 290px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .about-content {
    .mobile-col {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .about-content {
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .about-content {
    .desktop-col {
      display: none;
    }
    .image-box {
      min-height: 400px;
    }
    p {
      padding: 80px 0 100px 0;
    }
  }
}

@media (min-width: 1800px) {
  .about-content {
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 2300px) {
  .about-content {
    max-width: 1600px;
    p {
      font-size: 25px;
    }
  }
}
