.hero {
  background:
    -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url("../img/hero-bg.jpg");
  background:
      -o-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url("../img/hero-bg.jpg");
  background:
      linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
      url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 60vh;
  min-height: 500px;
  p.bold {
    margin-top: 100px;
  }
  p {
    font-size: 30px;
    margin-top: -10px;
  }
  a {
    color: $white;
    font-family: $bold-font;
    text-transform: uppercase;
    display: block;
    width: 290px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    background-color: $purple;
    text-align: center;
    font-size: 18px;
  }
  .phone {
    a {
      background: transparent;
      text-align: left;
      text-decoration: underline;
      color: $gray;
      font-size: 30px;
      font-family: $main-font;
      margin-top: -10px;
      margin-bottom: -10px;
    }
  }
}


// media queries
@media (max-width: 767px) {
  .hero {
    text-align: center;
    a {
      margin: 20px auto;
    }
  }
}

@media (min-width: 1800px) {
  .hero {
    p {
      font-size: 30px;
    }
    a {
      font-size: 22px;
      width: 350px;
    }
  }
}

@media (min-width: 2300px) {
  .hero {
    p {
      font-size: 32px;
      margin-top: -80px;
    }
    a {
      font-size: 25px;
      width: 420px;
      height: 80px;
      line-height: 85px;
    }
  }
}

@media (min-height: 1000px) {
  .hero {
    p.bold {
      margin-top: 150px;
    }
  }
}

@media (min-height: 1200px) {
  .hero {
    p.bold {
      margin-top: 220px;
    }
  }
}
