.home-content {
  height: auto;
  min-height: 420px;
  .col-sm-6 {
    min-height: 420px;
  }
  .text-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
  }
  p {
    font-size: 20px;
  }
  ul {
    margin-left: 25px;
    li {
      line-height: 1.5;
      font-size: 18px;
    }
  }
}
