.reception-content {
  height: auto;
  min-height: 550px;
  .col-sm-6 {
    min-height: 550px;
  }
  p {
    width: 80%;
    min-width: 290px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    font-size: 18px;
    a {
      font-family: $bold-font;
      color: $purple;
      text-decoration: underline;
    }
  }
}

@media (max-width: 767px) {
  .reception-content {
    p {
      padding: 60px 0;
    }
  }
}

@media (min-height: 800px) {
  .reception-content {
    min-height: 80vh;
    .col-sm-6 {
      min-height: 80vh;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 1800px) {
  .reception-content {
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 2300px) {
  .reception-content {
    p {
      font-size: 25px;
    }
  }
}
