#shell {
  border: 2px solid #262626;
  background-color: #fff;
  height: auto;
  min-height: 440px !important;
  border-radius: 2px;
  font-family: 'Avenir Light', sans-serif;
  width: 80%;
  min-width: 250px;
  max-width: 800px;
  margin: 40px auto 130px auto;
  padding: 20px;
  position: relative;
}

#staff_id, #unit_id, #month, select {
  padding: 5px 35px 5px 10px;
  font-size: 16px;
  border: 2px solid #262626;
  height: 50px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 200px;
  background: url(https://i.ibb.co/VYZ27nX/carets.png) 96% / 9% no-repeat #fff;
  font-family: 'Avenir', sans-serif;
}


input {
  font-size: 16px;
  border: 2px solid #262626;
  height: 40px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 194px;
  font-family: 'Avenir', sans-serif;
}

.caledit table {
  margin: 40px auto;
}

.caledit thead th, .caledit tfoot th {
  color: #fff;
  background-color: #5b7fe8;
  border-spacing: 0 !important;
  border: 8px solid #5b7fe8;
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
}

#shell .change {
  border-collapse: unset;
  border-spacing: 25px;
  background-color: #fff;
  float: left;
}


#shell .calendar .change {
  // border-spacing:  25px 15px;
  border-spacing:  0 !important;
  display: block;
  margin: 0 auto;
  float: right;
  margin-bottom: -50px;
  // position: relative;
}

#shell .calendar .change thead th,
#shell .calendar .change tfoot th  {
  color: #fff;
  background-color: #5b7fe8;
  border-spacing: 0 !important;
  border: 15px solid #5b7fe8;
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
}


#shell .calendar .change tbody td {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
}


#choice {
  background-color: #fff;
  border: none;
  position: relative;
}

.prompt {
  vertical-align: middle;
  display: table-cell;
  font-style: italic;
  color: #262626;
  font-family: 'Avenir', sans-serif;
  float: right;
  padding-top: 80px;
  padding-bottom: 40px;
}


.editing {
  border: none;
  float: none;
}

button[name="Q"] {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #5b7fe8;
  border: 1px solid #5b7fe8;
  border-radius: 5px;
  font-size: 16px;
  height: 45px;
  width: 120px;
}

button[name="Q"] a {
  color: #fff;
}

.toolt {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  padding: 5px;
  font-family: 'Avenir';
  display: none;
  font-size: 0.8em;
  text-align: center;
  padding: 5px;
  border: 1px solid #262626;
}

.toolt .sdat {
  font-weight: 700;
  text-align: center;
  color: #5b7fe8;
  padding: 5px;
}

.toolt .stims div {
  display: inline;
}

.toolt span {
    margin-right: 0.2em;
}

.dayF {
  background-color: #ddd;
  border-top: 10px solid #ddd !important;
  border-bottom: 10px solid #ddd !important;
  border-left: 15px solid #ddd !important;
  border-right: 15px solid #ddd !important;
}


@media (max-width: 940px) {
  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th  {
    border: 10px solid #5b7fe8;
  }
  #shell .calendar .change tbody td {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }
  .dayF {
    background-color: #ddd;
    border-top: 5px solid #ddd !important;
    border-bottom: 5px solid #ddd !important;
    border-left: 10px solid #ddd !important;
    border-right: 10px solid #ddd !important;
  }

}

@media (max-width: 850px) {
  .prompt, #shell .change {
    float: none;
  }
  .prompt {
    padding-top: 40px;
    padding-bottom: 0;
  }
  button[name="Q"] {
    left: 30px;
  }
  #shell .calendar .change {
    float: none;
    width: 568px;
    margin: 0 auto;
  }
  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th  {
    border: 25px solid #5b7fe8;
  }
  #shell .calendar .change tbody td {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
  }
  .dayF {
    background-color: #ddd;
    border-top: 10px solid #ddd !important;
    border-bottom: 10px solid #ddd !important;
    border-left: 15px solid #ddd !important;
    border-right: 15px solid #ddd !important;
  }
}

@media (max-width: 700px) {
  #shell .calendar .change {
    width: 415px;
  }
  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th  {
    border: 15px solid #5b7fe8;
  }
  #shell .calendar .change tbody td {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
  }
}

@media (max-width: 530px) {
  #shell .calendar .change {
    width: 334px;
  }
  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th  {
    border: 10px solid #5b7fe8;
  }
  #shell .calendar .change tbody td {
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
  }
  .dayF {
    background-color: #ddd;
    border-top: 8px solid #ddd !important;
    border-bottom: 8px solid #ddd !important;
    border-left: 10px solid #ddd !important;
    border-right: 10px solid #ddd !important;
  }
}

@media (max-width: 414px) {
  #shell .calendar .change {
    width: 254px;
  }
  #shell .calendar .change thead th,
  #shell .calendar .change tfoot th  {
    border: 5px solid #5b7fe8;
  }
  #shell .calendar .change tbody td {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
  }
  .dayF {
    background-color: #ddd;
    border-top: 5px solid #ddd !important;
    border-bottom: 5px solid #ddd !important;
    border-left: 5px solid #ddd !important;
    border-right: 5px solid #ddd !important;
  }
  .prompt {
    padding-top: 20px;
  }
}

@media (max-width: 400px) {
  #shell {
    padding: 10px;
  }
  #staff_id, #unit_id, #month {
    width: 180px !important;
  }
  #shell .change {
    border-spacing: 10px !important;
  }
}

@media (max-width: 382px) {
  #shell {
    padding: 8px;
  }
  #staff_id, #unit_id, #month {
    width: 160px !important;
  }
  input {
    width: 160px;
  }
  select {
    width: 166px;
  }
}
